.search {
  padding: 15px 0;
}

.search__input {
  width: 100%;
  padding: 7px 5px;
  border: none;
  background: #13a2aa;
  outline: none;
  color: white;
  border-radius: 3px;
}
::placeholder {
  color: white;
}

.search__filters {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.search__species label {
  padding: 0 5px;
}

.search__dead label {
  padding: 0 5px;
}

#species {
  border: none;
  background: #13a2aa;
  color: white;
  padding: 2px;
}
